
/************************************
          BEGIN GENERAL STYLING

**********************************?

/*Default styling for most elements.*/
body{
  background: radial-gradient(ellipse at 70% 70%, #fff 0%,#eee 30%, #ccc 60%, #bbb 100%) fixed;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 2px 2px 0px black;
  color: white;
}

#projectsBody{
  color:black;
}

a{
  color: white;
}

a:checked{
  color: #666;
}


.hide{
  opacity: 0;
}

/*******************************************************
            lineTitle - (Top bar of the page)
*******************************************************/
.lineTitleBlack{
  background-color: black;
  padding: 5px 0 5px 0;
  margin-bottom: 8vh;
}

.lineTitleGrey{
  padding: 5px 0 5px 0;
  background-color: #666;
}

.lineTitle{
  padding: 15px;
  background-color: #cc0000;
  color: white;
  font-size: 3em;
}

#homepageLink{
  text-decoration: none;
}

#lineTitleSubtext{
  display: inline-block;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #666;
  font-size: 1.3rem;
  padding-top: 10px;
  width: 50%;
}

/*******************************************************
            Nav - (Navigation pane on the top bar)
*******************************************************/

#desktopNav{
  float: right;
  font-size: .9rem;
  color: #fff;
  line-height: 20px;
  margin-top: -40px;
  margin-right: 8%;
}

.line{
  background-color: #cc0000;
  border: 5px solid #666;
  border-left-width: 0;
  padding: 3vh;
  color: #fff;
  font-size: 2em;
}

.noStyle{
  text-decoration: none;
  display: block;
}

/*********************************************************

                    START PROJECTS PAGE

  *******************************************************/

/*Maker header flow a bit better with the filter bar
by removing the bottom grey line.*/
.lineTitleBlackProjects{
  background-color: black;
  padding-top: 5px
}

.lineTitleGreyProjects, .lineTitleGreyContact{
  padding-top: 5px;
  background-color: #666;
}

/*Set up the filter lagnuage bar*/
#langNav{
  text-shadow: 1px 1px 0 black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #666;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  color: white;
}

#projectsLabel{
  min-width: 95vw;
  text-align: center;
  padding: 5px 0 10px 0;
  font-size: 2rem;
  border-bottom: 1px dashed black;
}

.langNavButton{
  display:inline-block;
  padding: 5px 10px 5px 10px;
  background-color: #999;
  border: 2px solid black;
  margin: 10px
}

.langNavButton:hover{
  background-color: #ccc;
  cursor: pointer;
}

#buttonAll{
  background-color: #cc0000;
}

#buttonAll:hover{
  background-color: #ee0000;
}

.langNavFilter{
  display:inline-block;
  align-self: flex-start;
  padding: 5px 10px 5px 10px;
  background-color: #cc0000;
  border: 2px solid black;
  margin: 10px 20px 10px 0;
}

.langNavFilter:hover{
  cursor: default;
}

/*BEGIN PROJECT STYLES*/

/*Outer project box style*/
#projectsContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projectBox{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-shadow: none;
  background-color: #888;
  padding-top: 10px;
  border: 5px solid #aaa;
  margin: 10px;
  max-width: 430px;
  min-width: 350px;
}

/*Prohect Title*/
.beauty{
  width: 25%;
}

.projectTitle{
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.5em;
  text-shadow: 1px 1px 0 black;
  border-bottom: 2px solid #444;
  padding-bottom: 5px;
  margin-bottom: 20px;
}


.projectTitleBig{
  font-size: 1.2em;
}

.bigName{
  font-size: .9em;
}

/*Projects links and description*/
.projectInfo{
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 50%;
}

.sourceLabel{
  margin-top: 30px;
  padding: 10px 0 10px 0;
  background-color: #cc0000;
  color: white;
  border: 2px solid black;
  border-bottom-width: 0;
}

.directLabel{
  padding: 10px 0 10px 0;
  background-color: #666;
  color: white;
  border: 2px solid black;
  border-bottom-width: 0;
}

.sourceLarge{
  border: 2px solid black; 
  border-bottom-width: 0;
}
.directLarge{
  border: 2px solid black;
}

.descriptionLabel{
  font-size: .9rem;
  border: 2px solid black;
  padding: 10px;
  background-color: #aaa;
}

/*Project languages list*/

.projectLanguages ul li{
  background-color: #777;
  margin: 5px;
  color: white;
}

.projectLanguages{
  background-color: #999;
  padding: 8px 5px 15px 5px;
  border: 2px groove #aaa;
  min-height: 170px;
}
.projectLanguages p{
  font-size: 1.2rem;
  border: 2px groove #aaa;
  margin-bottom: 5px;
  background-color: #aaa;
  padding: 5px;
}

.projectLanguages ul{
  text-align: center;
  line-height: 25px;
}

/*"Click here" Button*/

.projectClickHere{
  margin-top: 20px;
  background-color: #333;
  color:white;
  width: 100%;
  text-align: center;
  padding: 4px 0 4px 0;
  font-size: .8rem;
  min-height: 20px;
  max-height: 20px;
}

.projectClickHere:hover{
  background-color: #aaa;
  cursor: pointer;
}


/*project large view styling*/

#largeViewOne, #largeViewTwo,
#largeViewThree, #largeViewFour{
  display:none;
}

/*Container for all of the items*/
.largeViewContainer{
  text-shadow: 1px 1px 0 black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  background-color: #888;
  border: 5px solid #aaa;
  margin: 10px;
}

/*Title at the top of the box*/

.largeViewTitle{
  min-width: 95vw;
  text-align: center;
  margin-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

/*Contains the Languages and Libraries Lists */
.largeViewContent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Styling for the Languages list*/
.largeViewLanguages{
  max-width: 20%;
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
  min-width: 200px;
  min-height: 200px;
}

.redTitle{
  font-size: 1.2rem;
  padding: 10px 0 10px 0;
  background-color: #cc0000;
  border: 2px solid black;
  border-bottom-width: 0;
}

.largeViewLanguagesContent{
  background-color: #aaa;
  border: 2px solid black;
  border-bottom-width: 0;
}

.largeViewLanguagesContent div{
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
  padding: 5px 0 12px 0;;
  
}

.singleLanguage{
min-height: 250px;
}

/*Styling for the source code and direct link list*/
.projectInfoLarge{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.largeViewLinks{
  max-width: 20%;
  min-width: 200px;
  margin-right: 0;
  padding-right: 0;
}

/*Stling for the Libraries list */
.largeViewLibraries{
  max-width: 20%;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  min-width: 200px;
}

.greyTitle{
  font-size: 1.2rem;
  padding: 10px 0 10px 0;
  background-color: #666;
  border: 2px solid black;
  border-bottom-width: 0;
}

.largeViewLibrariesContent{
  background-color: #aaa;
  border: 2px solid black;
  border-bottom-width: 0;
}

.largeViewLibrariesContent div{
  padding: 5px 0 12px 0;;
}

.listHeader{
  text-shadow: none;
  color: black;
  padding-bottom: 5px;
}

.noBottomBorder{
  border-bottom-width: 0;
}

.libraryLink{
  border-bottom: 2px solid black;
}

.libraryLink a{
  text-shadow: none;
  color: black;
  font-size: .9rem;
}

/*Styling for Philosophy section */
.largeViewPhilosophy{
  background-color: #aaa;
  width: 25%;
  margin-left: 5%;
  border: 2px solid black;
  min-width: 250px;
}

.redTitleNoBorder{
  text-align: center;
  font-size: 1.2rem;
  padding: 10px 0 10px 0;
  background-color: #cc0000;
}

.largeViewPhilContent{
  text-align: left;
  padding: 5px 0 10px 10%;
  border-top: 2px solid black;
}

.largeViewPhilContent li{
  margin-top: 10px;
  list-style: inside;
}

/*Styling for Commentary section */
.greyTitleNoBorder{
  font-size: 1.2rem;
  padding: 10px 0 10px 0;
  background-color: #666;
}

.largeViewCommentary{
  background-color: #aaa;
  width: 25%;
  margin-left: 2%;
  border: 2px solid black;
  min-width: 250px;
}

.largeViewCommContent{
  border-top: 2px solid black;
  line-height: 20px;
  text-align: left;
  padding: 10px 5px 0 5px;
}

#buttonReturn{
  display:none;
  padding: 10px 20px 10px 20px;
  background-color: #cc0000;
  border: 2px solid black;
  margin: 10px
}

#buttonReturn:hover{
  background-color: #ee0000;
  cursor: pointer;
}

#mobileReturn{
  display: none;
  justify-content: space-around;
  color: white;
  background-color: black;
  text-shadow: none;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: .9em;
}

#mobileReturn a{
  margin-top: 5px;
}

#mobileReturnContact{
  display: none;
  justify-content: space-around;
  color: white;
  background-color: black;
  text-shadow: none;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: .9em;
}

#mobileReturnContact a{
  margin-top: 5px;
}

/**************************************

      ABOUT PAGE

******************************************/
/*Adjust the spacing between the image and the top bar*/
.lineTitleBlackAbout{
  margin-bottom: 5px;
}

/*This contains the image and nav bar*/
#aboutImageDiv{
  width: 100%;
  background: linear-gradient(to right, #666 40%,#bb0000) fixed;
  padding: 20px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/*Flex container for the imkage div and nav bar*/
#aboutHeading{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*Styling for nav list*/
#aboutNavList{
  margin-left: 5%;
  margin-right: 5%;
  width: 180px;
  background: linear-gradient(180deg, #cc0000 30%, #666, #666);
  list-style: none;
  text-align: center;
  border: 3px solid black;
}

#aboutNavList li{
  padding: 12% 0;
}

.redBackground{
  background-color: #cc0000;
}

.redBackground:hover{
  background-color: #ee0000;
}

.greyBackground:hover{
  background-color: #777;
}

.lightGreyBackground{
  background-color: #666;
}

.lightGreyBackground:hover{
  background-color: #777;
}

.topBorder{
  border-top: 2px solid black;
}


/*Styling for the image*/
#aboutImage{
  display: block;
  border-radius: 100%;
  max-width: 200px
}

/*Container for everything below the image div */
#aboutContent{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-flow: column;
  justify-content: space-around;
  margin: 20px auto;
}

/*Bio paragraph, red box*/
.bioParagraph{
  width: 100%;
  text-align: center;
  margin-top: 15px;
  color: white;
  font-size: 1.2em;
  border: 0px dashed black;
  border-bottom-width: 1px;
}

/*Styling for all boxes*/
.interests{
  background-color: #666;
  border: 3px solid black;
  margin-top: 20px;
  width: 80%;
}

/*Styling for only the top box*/
.intTop{
  background-color: #cc0000;
  border: 3px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*Styling for the lists in the first box*/
.bioList{
  display: block;
  list-style: circle;
  margin: 0 2%;
  padding-bottom: 20px;
}

.bioList li{
  margin-top: 15px;
}

/*Styling for the prargraphs in the last boxes*/
.interestsParagraph{
  padding: 40px 10% 20px 10%;
  text-align: center;
}

.experience{
  padding: 10px 10% 10px 10%;
  text-align: center;
}

.experienceList{
  text-align:center;
}
.experienceList li{
  padding: 5px 0 0 0;
}

.bigWords{
  font-size: 1.1em;
}

/********************************************

            BEGIN CONTACT PAGE

***********************************************/

/*Styling for the images*/
.contactImage{
  width: 120px;
  padding: 20px 20px 20px 20px;
  border-bottom: 2px solid black;
}


/*Flex container for images and description*/
#contactContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.lineTitleBlackContact{
  background-color: black;
  padding: 5px 0 5px 0;
  margin-bottom: 8vh;
  margin-bottom: 150px;
}

.contactDescription{
  text-align: center;
  padding: 20px 0;
  font-size: 1em;
}

.contactInfo{

  text-align: center;
  padding: 40px;
}

#contactInfoContainer{
  background: linear-gradient(#666 30%, #fff) fixed;
  color: black;
  text-shadow: none;
}

/*The follow code is used only for the sticky footer*/
html,body{
  height: 100%;
}

.page-wrap{
  min-height: 100%;
  margin-bottom: -150px
}

.page-wrap:after{
  content: "";
  display: block;
}

#contactInfoContainer, .page-wrap:after{
  height: 150px;
}


/*********************************

      HOME PAGE STYLING

  ********************************/

/*White background looks better on this particular page*/
#homeBody{
  background: none;
}

/*Margin between the top bar and the content*/
.lineTitleBlackHome{
  margin-bottom: 10px;
}

/*Contains the two info boxes and the OSU logo*/
#homepageHeadingContainer{
  background-color: #666;
  border-top: 2px solid black;
  font-size: 1.4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*The following are all for the info boxes*/
.homeDescription{
  text-align: center;
  background-color: #777;
  width: 30%;
  padding: 20px 30px;
  border: 2px groove #aaa;
  min-width: 250px;
}

.homeDescription p{
  padding-bottom: 30px;
}



/*Container for the navigation buttons*/
#homepageButtonContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(#666 30%, #fff);
}

/*Styling for the buttons*/
.homeButton{
  background-color: #bb0000;
  border: 5px solid black;
  font-size: 2em;
  margin-top: 25px;
  width: 30%;
  min-width: 350px;
  padding: 7vh 0;
  text-align: center;
  box-shadow: 10px 10px 5px black;
}

.homeButtonProjects{
  width: 50%;
  min-width: 400px;
  padding: 9vh 0;
}

#homepageButtonContainer a{
  text-decoration: none;
}

/*Hover styling for the buttons*/
.homeButton:hover{
  background-color: #ee0000;
}

.homeButtonSubtext{
  margin-top: 20px;
  font-size: .5em;
}
